<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <!-- <span class="dashboard">Expense Tracker</span> -->
        </div>
        <!-- <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search'></i>
        </div> -->
        <div class="profile-details">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541" alt="">
            <span class="admin_name">Darrel Mendoza</span>
            <i class='bx bx-chevron-down'></i>
        </div>
    </nav>

    <div class="home-content">
        <div class="page-title">Expense Tracker</div>
        <div class="sub-title">Categories</div>
        <div class="overview-boxes">
            <div class="box">

                <div>
                    <div class="box-topic"><i class='bx bx-dish' style="margin-right: 5px;"></i>Food</div>
                    <div class="number">$ 40,876</div>
                </div>
            </div>
            <div class="box">

                <div>
                    <div class="box-topic"><i class='bx bxs-car' style="margin-right: 5px;"></i>Transport</div>
                    <div class="number">$ 40,876</div>
                </div>
            </div>
            <div class="box">

                <div>
                    <div class="box-topic"><i class='bx bx-cart-alt' style="margin-right: 5px;"></i>Shopping</div>
                    <div class="number">$ 40,876</div>
                </div>
            </div>
            <div class="box">

                <div>
                    <div class="box-topic"><i class='bx bx-movie-play' style="margin-right: 5px;"></i>Entertainment
                    </div>
                    <div class="number">$ 40,876</div>
                </div>
            </div>
            <div class="box">

                <div>
                    <div class="box-topic"><i class='bx bx-money' style="margin-right: 5px;"></i>Bills</div>
                    <div class="number">$ 40,876</div>
                </div>
            </div>
            <div class="box">

                <div>
                    <div class="box-topic"><i class='bx bx-book-alt' style="margin-right: 5px;"></i>Education</div>
                    <div class="number">$ 40,876</div>
                </div>
            </div>
            <div class="new-button">
                <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
            </div>

        </div>
        <div class="sub-title">Monthly Expenses
            <div class="new">
                <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
            </div>
        </div>
        
        <!-- <div class="new">
            <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
        </div> -->

        <div class="overview-boxes">
            
            <div class="date">
                <div class="content-title">July 2023</div>
                <div class="box">
                    <div>
                        <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"></i>
                            Food
                        </div>
                        <div class="number">$ 40,876</div>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"></i>
                            Food
                        </div>
                        <div class="number">$ 40,876</div>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"></i>
                            Food
                        </div>
                        <div class="number">$ 40,876</div>
                    </div>
                </div>
                <div class="new-button">
                    <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
                </div>
            </div>

            <div class="date">
                <div class="content-title">August 2023</div>
                <div class="box">
                    <div>
                        <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"></i>
                            Food
                        </div>
                        <div class="number">$ 40,876</div>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"></i>
                            Food
                        </div>
                        <div class="number">$ 40,876</div>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"></i>
                            Food
                        </div>
                        <div class="number">$ 40,876</div>
                    </div>
                </div>
                <div class="new-button">
                    <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
                </div>
            </div>

        </div>
    </div>
</section>