<app-sidenav [sidebarCompressed]="!sidebarCompressed"></app-sidenav>
<section class="home-section" [class.compressed]="sidebarCompressed">
    <nav [class.compressed]="sidebarCompressed">
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn' (click)="toggleSidebar()"></i>
            <!-- <span class="dashboard">Expense Tracker</span> -->
        </div>
        <!-- <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search'></i>
        </div> -->
        <div class="profile-details">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541" alt="">
            <span class="admin_name">Darrel Mendoza</span>
            <i class='bx bx-chevron-down'></i>
        </div>
    </nav>

    <div class="home-content">
        <!-- <div class="icon-select-container" (click)="openIconPicker()">
            <img *ngIf="selectedIcon" [src]="selectedIcon" alt="Selected Icon" class="selected-icon">
            <span *ngIf="!selectedIcon" class="placeholder-text">Select an Icon</span>
        </div> -->
        
        <div *ngIf="isPickerOpen" class="icon-picker" [style.left.px]="pickerLeft" [style.top.px]="pickerTop">
            <div class="icon-title">ICONS</div>
            <div class="icon-grid">
                <div *ngFor="let icon of availableIcons" class="icon-wrapper">
                    <i [ngClass]="icon" (click)="setIcon(icon)" class="icon-item"></i>
                </div>
            </div>
            <!-- <div class="icon-import">
                <input type="file" (change)="importIcon($event)" class="import-button">
            </div> -->
        </div>
        <div class="page-title">Finance Tracker</div>
        <div class="sub-title">Accounts</div>
        <div class="overview-boxes">
            <div class="box">
                <div class="icon-container">
                    <div class="edit-div">
                      <i class='bx bx-edit edit-icon'></i>
                    </div>
                    <div class="delete-div">
                      <i class='bx bx-trash delete-icon'></i>
                    </div>
                </div>
                <div>
                    <div class="box-topic"><i class='bx bxs-bank' style="margin-right: 5px;" (click)="toggleIconPicker($event)"></i>BPI</div>
                    <div class="number">$ 40,200</div>
                </div>
            </div>
            
            <div class="new-button">
                <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
            </div>

        </div>
        <div class="sub-title">Income
            <div class="new">
                <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
            </div>
        </div>
        
        <!-- <div class="new">
            <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
        </div> -->

        <div class="overview-boxes">
            <div class="scrollable-container">
            <div class="date">
                <div class="content-title">August 2023</div>
                <div class="box">
                    <div>
                        <div class="icon-container">
                            <div class="edit-div">
                              <i class='bx bx-edit edit-icon'></i>
                            </div>
                            <div class="delete-div">
                              <i class='bx bx-trash delete-icon'></i>
                            </div>
                        </div>
                        <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;" (click)="toggleIconPicker($event)"></i>
                            Talino Labs
                        </div>
                        <div class="number">$ 1,200</div>
                    </div>
                </div>

                <div class="new-button">
                    <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
                </div>
            </div>

            <div class="date">
                <div class="content-title">July 2023</div>
                <div class="box">
                    <div>
                        <div class="icon-container">
                            <div class="edit-div">
                              <i class='bx bx-edit edit-icon'></i>
                            </div>
                            <div class="delete-div">
                              <i class='bx bx-trash delete-icon'></i>
                            </div>
                        </div>
                        <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;" (click)="toggleIconPicker($event)"></i>
                            Talino Labs
                        </div>
                        <div class="number">$ 2,800</div>
                    </div>
                </div>
                
                <div class="new-button">
                    <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
                </div>
            </div>
            </div>
        </div>

        <div class="sub-title">Expenses
            <div class="new">
                <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
            </div>
        </div>

        <div class="overview-boxes">
            <div class="scrollable-container">
                <div class="date">
                    <div class="content-title">August 2023</div>
                    <div class="box">
                        <div>
                            <div class="icon-container">
                                <div class="edit-div">
                                <i class='bx bx-edit edit-icon'></i>
                                </div>
                                <div class="delete-div">
                                <i class='bx bx-trash delete-icon'></i>
                                </div>
                            </div>
                            <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;" (click)="toggleIconPicker($event)"></i>
                                Food
                            </div>
                            <div class="number">$ 100</div>
                        </div>
                    </div>

                    <div class="new-button">
                        <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
                    </div>
                </div>

                <div class="date">
                    <div class="content-title">July 2023</div>
                    <div class="box">
                        <div>
                            <div class="icon-container">
                                <div class="edit-div">
                                <i class='bx bx-edit edit-icon'></i>
                                </div>
                                <div class="delete-div">
                                <i class='bx bx-trash delete-icon'></i>
                                </div>
                            </div>
                            <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;" (click)="toggleIconPicker($event)"></i>
                                Food
                            </div>
                            <div class="number">$ 235</div>
                        </div>
                    </div>
                    
                    <div class="new-button" (click)="openModal()" >
                        <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- This is your modal -->
<div id="myModal" class="modal" tabindex="-1">
    <div class="modal-content">
      <div class="close" (click)="closeModal()"><i class="fa fa-angle-double-left"></i></div>

      <div class="modal_container container">
        <div class="row">
            <div class="col-md-12">
                <div class="assigned_icon_container">
                    <div class="assigned_icon">
                        <i class="fa fa-university" aria-hidden="true"></i>
                    </div>
                  </div>
            </div>
        </div>

        <!-- Title Row -->
        <div class="modal-content-scroll">
            <div class="row" style="padding: 25px;">

                <!-- Title Col 12 -->
                <div class="col-md-12 modal_title">
                    <h1>BPI</h1>
                </div>
                
                <div class="col-md-4 modal_subtitle_container">
                    <div class="modal_subtitle">
                        <i class='bx bxs-down-arrow-circle' style="margin-right: 5px;" (click)="toggleIconPicker($event)"></i>
                        Current Balance
                    </div>
                </div>
                <div class="col-md-8 modal_subtitle_container">
                    <div class="modal_amount">
                        $ 2,175.00
                    </div>
                </div>
    
                <div class="col-md-4 modal_subtitle_container">
                    <div class="modal_subtitle">
                        <i class='bx bxs-down-arrow-circle' style="margin-right: 5px;" (click)="toggleIconPicker($event)"></i>
                        Total Income
                    </div>
                </div>
                <div class="col-md-8 modal_subtitle_container">
                    <div class="modal_amount">
                        $ 1,350.00
                    </div>
                </div>
    
                <div class="col-md-4 modal_subtitle_container">
                    <div class="modal_subtitle">
                        <i class='bx bxs-down-arrow-circle' style="margin-right: 5px;" (click)="toggleIconPicker($event)"></i>
                        Total Expenses
                    </div>
                </div>
                <div class="col-md-8 modal_subtitle_container">
                    <div class="modal_amount">
                        $ 175.00
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="fixed-save-button">
                        <button (click)="saveChanges()">Save</button>
                    </div>
                </div>
                
            </div>

        </div>
        
        
      </div>
      

    </div>
  </div>
  
  