<!-- This is your modal -->

    <div class="modal-content">
        <div mat-button class="close" (click)="closeModal()"><i class="fa fa-angle-double-left"></i></div>

        <div class="modal_container container">
            <div class="row">
                <div class="col-md-12">
                    <div class="assigned_icon_container">
                        <div class="assigned_icon">
                            <i class="fa fa-university" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Title Row -->
            <div class="modal-content-scroll">
                <div class="row" style="padding: 0px 25px;">

                    <!-- Title Col 12 -->
                    <div class="col-md-12 modal_title">
                        <h1>BPI</h1>
                    </div>

                    <div class="col-md-4 modal_subtitle_container">
                        <div class="modal_subtitle">
                            <i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"
                                ></i>
                            Current Balance
                        </div>
                    </div>
                    <div class="col-md-8 modal_subtitle_container">
                        <div class="modal_amount">
                            $ 2,175.00
                        </div>
                    </div>

                    <div class="col-md-4 modal_subtitle_container">
                        <div class="modal_subtitle">
                            <i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"
                                ></i>
                            Total Income
                        </div>
                    </div>
                    <div class="col-md-8 modal_subtitle_container">
                        <div class="modal_amount">
                            $ 1,350.00
                        </div>
                    </div>

                    <div class="col-md-4 modal_subtitle_container">
                        <div class="modal_subtitle">
                            <i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"
                                ></i>
                            Total Expenses
                        </div>
                    </div>
                    <div class="col-md-8 modal_subtitle_container">
                        <div class="modal_amount">
                            $ 175.00
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="fixed-save-button">
                            <button>Save</button>
                        </div>
                    </div>

                </div>

            </div>


        </div>


    </div>