<header>
</header>

<main>
    <router-outlet></router-outlet>

<footer>
</footer>
<!-- 
<mat-sidenav-container class="app-component">
    <mat-sidenav mode="side">
      <div class="sidebar">
        <mat-nav-list class="p-0">
          <a mat-list-item routerLink="/expense-tracker" class="active">
            <i class="bx bx-down-arrow-circle"></i>
            <span class="links_name">Expense Tracker</span>
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
   -->