<div class="modal-right" (click)="onClickOutside($event)">
    <div class="modal-content-right" (click)="$event.stopPropagation()">
        <div mat-button class="close-right" (click)="closeModalRight()"><i class="fa fa-angle-double-left"></i></div>

        <div class="modal_container_right container">
            <div class="row">
                <div class="col-md-12">
                    <div class="assigned_icon_container_right">
                        <div class="assigned_icon_right">
                            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-content-scroll">
                <div class="row" style="padding: 0px 25px;">

                    <!-- Title Col 12 -->
                    <div class="col-md-12 modal_title_right">
                        <h1>BPI</h1>
                    </div>

                    <div class="col-md-4 modal_subtitle_container_right">
                        <div class="modal_subtitle_right">
                            <i class='bx bx-hash' style="margin-right: 5px;"
                                ></i>
                            Account
                        </div>
                    </div>
                    <div class="col-md-8 modal_subtitle_container_right">
                        <div class="modal_amount_right">
                            $ 2,175.00
                        </div>
                    </div>

                    <div class="col-md-4 modal_subtitle_container_right">
                        <div class="modal_subtitle_right">
                            <i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"
                                ></i>
                            Total Income
                        </div>
                    </div>
                    <div class="col-md-8 modal_subtitle_container_right">
                        <div class="modal_amount_right">
                            $ 1,350.00
                        </div>
                    </div>

                    <div class="col-md-4 modal_subtitle_container_right">
                        <div class="modal_subtitle_right">
                            <i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"
                                ></i>
                            Total Expenses
                        </div>
                    </div>
                    <div class="col-md-8 modal_subtitle_container_right">
                        <div class="modal_amount_right">
                            $ 175.00
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="fixed-save-button-right">
                            <button>Save</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>
</div>