<!-- Coding by CodingNepal | www.codingnepalweb.com -->

<head>
    <meta charset="UTF-8">
    <title> Finance Manager </title>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxs-dollar-circle'></i>
        <span class="logo_name">Finance Manager</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-credit-card-front'></i>
                <span class="links_name">Accounts</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-up-arrow-circle'></i>
                <span class="links_name">Incomes</span>
            </a>
        </li>
        <li>
            <a href="#" class="active">
                <i class='bx bx-down-arrow-circle'></i>
                <span class="links_name">Expenses</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-bank'></i>
                <span class="links_name">Finance Tracker</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-wallet'></i>

                <span class="links_name">Budget Tracker</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-repost'></i>
                <span class="links_name">Subscription Tracker</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-coin-stack'></i>
                <span class="links_name">Savings Tracker</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-file-blank'></i>
                <span class="links_name">Monthly Reports</span>
            </a>
        </li>
        <li class="log_out">
            <a href="#">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>